/* Styles for the page body */
body {
  color: black;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

/* Styles for game tiles */
.game-tile {
  height: 300px;
  width: 220px;
  transition: 0.2s;
  border-radius: 50px;
  padding: 3%;
}

/* Styles for game tile content */
.game-tile-content {
  background-color: white;
  color: black;
}

/* Styles for game titles */
.game-title {
  font-size: 60px;
  font-weight: bold;
}

/* Styles for game links */
.game-link {
  height: 330px;
  width: 250px;
}

/* Styles for game icons */
.game-icon {
  max-width: 90%;
  margin: 5 auto;
  border-radius: 50px;
  place-items: center center;
  justify-content: center;
  align-items: center;
  display: block;
  height: auto;
}

/* Styles for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  repeat(auto-fill, minmax(200px, 1fr))
}

/* Styles for game tile hover effect */
.game-tile:hover {
  text-decoration: none;
  transform: scale(0.95);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 19px #000000;
  -moz-box-shadow: 0px 0px 19px #000000;
  box-shadow: 0px 0px 19px #000000;
}
